@media screen and (max-width: 600px){
    #full-main,#full-header,footer,#right-not-full{
        display: none;
    }
    .logo{
        margin: 0 auto;
    }
#short{   
    box-shadow: 0 0 10px rgba(0,0,0,0.5);    
    padding-bottom: 8px;    
}
#log-in,#short-gamb-menu a{
    color: white;
    padding-left: 5px;
}
#gamb-menu{    
    background-color: rgb(43, 51, 53);    
}
#short-gamb-menu a{
    border-top: 1px solid black;
    width: 100%;
}
#short-gamb-menu a:hover{
    background-color: brown;
}
.navbar{
    padding: 3px 0px;
}
#top-short-menu{
    padding: 8px;
    background-color: rgb(146, 33, 5);
} 
.mb-4{
    margin-bottom: 0 !important;
}

#short-menu{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;    
}

#short-search input{
    border: none;
}
#short-search{
   border: 1px solid grey;
   /* width: 38%; */
   /* display: flex; */
   border-radius: 5px;
}
#short-main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: justify; 
    
}
.short-card{
    width: 92%;
    
}
#short-footer{
    padding: 8px;
    background-color: rgb(146, 33, 5);
}
}