*{
    box-sizing: border-box;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif; 
    outline: none;   
}
.margin5{
    margin: 5px;
}
.padding8{
    padding: 8px;
}
.height100{
    height: 100px;
}
.blue-color,.blue-color:hover{
    color: blue;
}
.orange-color,.orange-color:hover{
    color: chocolate;
}
.green-color,.green-color:hover{
    color: green;
}
.blue-color:hover,.orange-color:hover,.green-color:hover{
    text-decoration: underline;
}
.background-white{
    background-color: white;
}
.grey-color{    
    background-color: rgb(180, 170, 170);
}
.padding1{
    padding: 1px;
}
.padding3{
    padding: 3px;
}
.opacity0-3{
    opacity: 0.3; 
    /* border: 5px solid red;    */
}
.font-lighter{
    font-weight: lighter;
}
.font-bold{
    font-weight: bold;
}
.color-red{
    color: rgb(105, 28, 28);
}
.color-black{
    color: black;    
}
.color-white{
    color: white;
}
.backgroundcolor-blueviolet{
    background-color: blueviolet;
}
.color-blueviolet{
    color: blueviolet;
}
#card-city{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;   
    align-items: center;
    align-content: center;
    background-color: chartreuse;
    z-index: 1000;
    opacity: 0.7;    
    border: 2px solid  rgb(50, 80, 19);   
}
#card-city h1{        
    padding: 10px;    
}
#card-city a{
    display: block;
    text-decoration: none;
}
#card-city span{
   display: flex;

}
#card-city button,#card-city a{
    background-color: rgb(15, 110, 95);
    padding: 15px 0px;
    width: 50px;
    height: 50px;
    border: 2px solid green;
    text-align: center;
    color: rgb(12, 32, 12);
    font-weight: bold;       
}
.logo{
    
    width: 80px;
    height: 80px;    
    opacity: 0.9;
}

.a-intr{
    border-right: 2px solid white;
    padding: 4px;
    text-align: center;
}
.a-intr{
    border-right: 2px solid rgb(80, 78, 76); 
}
nav .a-intr{
    text-decoration: none;
}
nav .a-intr:last-child{
    border-right: none;
}







